body{
    background-color: #b5f1fc;
    background-image: url("../img/hex-813411.jpg"); 
    background-size: auto;
    background-repeat: no-repeat;
}
*{
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color: white;
font-family: 'Righteous', cursive;
font-size: 100px;
padding: 0px;
margin: 0px;
border: 0px;
}
p {
    color: white;
}

h2 {
    color: white;
    text-align: center;
    padding-top:0px;
margin-top: 0px;
margin-bottom: 0px;
border-top: 0px;
border-bottom: 0px;
font-family: 'Volkhov', serif;
}
    


h3 {
    color: white;
    font-family: 'Volkhov', serif;
}

h4 {
    color:white;
    font-family: 'Volkhov', serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
    float: left;
    font-family: 'Volkhov', serif;
}

nav{
    text-align: center;
    width: 100%;
    background: rgba(178,194,205, 0.7);
    margin: 0;
}

nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    
}

nav ul li {
    flex-grow: 1;
    
}


nav ul a:link {
    text-decoration: none;
    color: #7A306C;
    padding: 10px 0;
    display: block;
    margin: 0px;
}

nav ul a:visited {
    color: #cecece;
}

nav ul a:hover {
    display: block;
    background-color: aliceblue;
}
    
    header {
        padding-bottom: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
        margin-top: 0px;
        border-bottom: 0px;
        border-top: 0px;
    }
 

.mv {
   border: 0px;
   padding: 0px;
   margin: 0px;
   text-align: center;
   /* added code */
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.mv iframe{
    left:0;
    top:0;
    height: 100%;
    width: 100%;
    position:absolute;
}


p{
    font-family: 'Volkhov', serif;
}

.mp{
    background-image: url(
    ../img/synthesizer-908298_1280.jpg);
    background-size: cover;
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.vp{
    background-image: url(
    ../img/video-2562034_1920.jpg);
    background-size: cover;
     border: 0px;
    margin: 0px;
    padding: 0px;
}

.rs{
    background-image: url(
    ../img/sound-studio-911516_1920.jpg);
    background-size: cover;
     border: 0px;
    margin: 0px;
    padding: 0px;
}

.ar{
    background-image: url(
    ../img/office-1209640_1280.jpg);
    background-size: cover;
     border: 0px;
    margin: 0px;
    padding: 0px;
}

.services{
    text-align: center;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

@media only screen and (max-width 600px) {
    nav ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
